/03_online_music/datasets
/04_instacart/datasets
/05_megaline/datasets
/06_store_ice/datasets
/10_megaline_ii/datasets
/11_betabank/datasets
/12_oilygiant/datasets
/13_gold_recovery/datasets
/14_sure_tomorrow/datasets